$N: 25;
$marginsize: 1px;
$gcontainersize: 800px;

.box {
    margin: $marginsize;
    width: floor(($gcontainersize - $marginsize * $N * 2)/$N);
    height: floor(($gcontainersize - $marginsize * $N * 2)/$N);  
    display: inline-block;
}

.light-box {
    @extend .box;
    background-color: #ccf2ff;
}

.dark-box {
    @extend .box;
    background-color: #33adff;
}

.game-container {
    width: $gcontainersize;
    height: $gcontainersize;
}